* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: seashell;
}

hr {
	margin: 10px 0;
	height: 2px;
	border: none;
	background: darksalmon
}

.tab-wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
	list-style: none;
	width: 320px;
	height: 200px;
	background: #fff;
	box-shadow: 3px 5px 2px #ccc;
}

.tab-wrap .tab-nav ul {
	font-size: 0;
	height: 15%;
}

.tab-wrap .tab-nav .tab-nav-item {
	display: inline-block;
	border-bottom: 2px solid darksalmon;
	margin: 0;
	width: 80px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	font-size: 14px;
	color: darksalmon;
	text-align: center;
}

.tab-wrap .tab-nav .tab-nav-item.first {
	/*border-left: none;*/
}

.tab-wrap .tab-nav a {
	display: block;
	color: darksalmon;
	text-decoration: none;
}

.tab-wrap .tab-nav li.tab-nav-item a:hover,
.tab-wrap .tab-nav .tab-nav-item.active a{
	background: #fff;
	border: 2px solid darksalmon;
	border-bottom: none;
	color: #000;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
}


.tab-wrap .tab-content {
	position: relative;
	border: 2px solid darksalmon;
	border-top: none;
	height: 85%;
}

.tab-wrap .tab-content .tab-content-item {
	display: none;
	position: absolute;
	margin: 0 auto;
	padding: 20px;
	margin: 0 auto;
}

.tab-wrap .tab-content .tab-content-item.active {
	display: block; 
}

